table, th, td {
    border: 1px solid black;
    padding: 5px;
    background-color: white;
    color: black;
}
.tableFixHead {
  overflow-y: auto; /* make the table scrollable if height is more than 200 px  */
  height: 400px; /* gives an initial height of 200px to the table */
}
.tableFixHead thead th {
  position: sticky; /* make the table heads sticky */
  top: 0px; /* table head will be placed from the top of the table and sticks to it */
}
table {
  border-collapse: collapse; /* make the table borders collapse to each other */
  width: 100%;
}
.labeltext {
  color: white;
  text-align: right;
  padding-right:0px;
  padding-bottom:1px;
}
.list-container {
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
  margin: auto;
}
.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}
.list-btn:disabled {
  background-color: lightgray;
}
.list-error {
  width: auto;
  color: white;
  background-color: red;
  padding: 4px;
}
.small-col {
  width: 50px
}