
.labeltext {
  color: white;
  text-align: right;
  padding-right:0px;
  padding-bottom:1px;
}
.list-container {
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
  margin: auto;
}
.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;

  border: 1px solid black;
  padding: 5px;
  background-color: white;
  color: black;
}
.grid {
  height: 700px;
  width: 100%;
}
.grid_hide {
  border: 1px solid black;
  padding: 5px;
  background-color: white;
  color: black;
}
.list-btn:disabled {
  background-color: lightgray;
}
.list-error {
  width: auto;
  color: white;
  background-color: red;
  padding: 4px;
}
.small-col {
  width: 50px
}
